@page "/Usuarios"
@using Modelos

<h3>Lista de Usuarios</h3>

@if(lista == null)
{
    <p>No Existen Usuarios en el Sistema</p>
}
else
{
    <table class="table">

        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Rol</th>
                <th>Foto</th>
                <th>Fecha Creación</th>
                <th>Esta Activo</th>
                <th>Correo</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Usuario user in lista)
            {
                <tr>
                    <>@user.CodigoUsuario</>
                    <>@user.Nombre</>
                    <>@user.Rol</>
                    <>@user.Foto</>
                    <>@user.FechaCreacion</>
                    @if(user.EstaActivo)
                    {
                        <th>
                            <span class = "oi oi-circle-check" style="color:green;"></span>
                        </th>
                    }else
                    {
                        <th>
                            <span class="oi oi-circle-x" style="color:red;"></span>
                        </th>
                    }
                    <>@user.Correo</>

                    <th>
                        <a class="btn btn-success" href="@($"/Usuarios/Editar")">Editar</a>
                    </th>
                </tr>
            }
        </tbody>

    </table>
}

